doctype html
html(lang="tr")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Spoonsor | #{title}
    link(rel="stylesheet",
         href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|PT+Serif:400,700")
    if includes && includes.external
      if includes.external.indexOf('fontawesome') > -1
        link(rel="stylesheet",
            href="https://use.fontawesome.com/releases/v5.2.0/css/all.css",
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ",
            crossorigin="anonymous")
      if includes.external.indexOf('animate.css') > -1
        link(rel="stylesheet",
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
      if includes.external.indexOf('validator') > -1
        script(src="https://cdnjs.cloudflare.com/ajax/libs/validator/10.6.0/validator.min.js",
               integrity="sha256-KU9MuJZK6AHzdTG3Bi3UBmv1TEvxc8sItJ7PJoe1N88=",
               crossorigin="anonymous")
      if includes.external.indexOf('socket.io') > -1
        script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="/css/shared.css")
    link(rel="stylesheet", href=`/css/header/header-${headerType}.css`)
    link(rel="stylesheet", href=`/css/${page}.css`)
    if includes && includes.js
      if typeof includes.js === 'object'
        each include in includes.js
          script(async, src=`/js/${include}.js`)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-123574708-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-123574708-1');
  body
    .wrapper
      .header
        .header-wrapper
          if headerType === 'landing' || headerType === 'login'
            ul.nav.nav--page
              li
                a.link(href="#") Sponsorlar
              if headerType === 'landing'
                li
                  a.link.link--highlighted(href="#nasil") Nasıl Çalışır
            .logo-wrapper
              a(href="/")
                img.logo(src="/res/images/logo.svg")
            ul.nav.nav--auth
              if headerType === 'landing'
                li.button-wrapper.login-wrapper
                  a.button.button--login(href="/auth/login") Giriş Yap
              li.button-wrapper.register-wrapper
                a.button.button--register(href="/auth/register") Kaydol
          if headerType === 'register'
            .logo-wrapper
              a(href="/")
                img.logo(src="/res/images/logo.svg")
            .dilara
            ul.nav.nav--auth
              li.button-wrapper.login-wrapper
                a.button.button--login(href="/auth/login") Giriş Yap
          if headerType === 'app'
            ul.nav.nav--left
              li
                if page === 'sponsors'
                  a.link.link--highlighted(href="/app/sponsors") Sponsorlar
                else
                  a.link(href="/app/sponsors") Sponsorlar
              li
                if page === 'seekers'
                  a.link.link--highlighted(href="/app/seekers") Sponsor Arayanlar
                else
                  a.link(href="/app/seekers") Sponsor Arayanlar
            .logo-wrapper
              a(href="/")
                img.logo(src="/res/images/logo.svg")
            ul.nav.nav--right 
              li
                if page === 'messages'
                  a.link.link--highlighted(href="/app/messages")
                    img.nav-img(src="/res/images/messages2.svg")
                else
                  a.link(href="/app/messages")
                    img.nav-img(src="/res/images/messages.svg")
              li
                a.link(href="#")
                  img.nav-img(src="/res/images/user.svg")
            .hamburger
              .hamburger-icon
                .bar.top
                .bar.middle
                .bar.bottom
              .hamburger-overlay
              ul.hamburger-wrapper
                li
                  if page === 'sponsors'
                    a.link.link--highlighted(href="/app/sponsors") Sponsorlar
                  else
                    a.link(href="/app/sponsors") Sponsorlar
                li
                  if page === 'seekers'
                    a.link.link--highlighted(href="/app/seekers") Sponsor Arayanlar
                  else
                    a.link(href="/app/seekers") Sponsor Arayanlar
                li
                  if page === 'messages'
                    a.link.link--highlighted(href="/app/messages") Görüşmeler
                  else
                    a.link(href="/app/messages") Görüşmeler
                li
                  a.link(href="#") Profil
                li
                  a.link(href="#") Çıkış Yap
      .content
        block content
      .error-modal-wrapper
        .error-overlay.close-error-modal
        .error-modal
          i.fas.fa-times.error-modal-close-button.close-error-modal
          h2.error-title Bir sorun var!
          ul.error-description